In [1]:
import pandas as pd
import numpy as np

In [2]:
books = pd.read_csv("Dataset/Books.csv")
ratings = pd.read_csv("Dataset/Ratings.csv")
users = pd.read_csv("Dataset/Users.csv")

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_4536\934157971.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("Dataset/Books.csv")

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [5]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
users.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [7]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [8]:
ratings.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [9]:
books.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [10]:
users.isna().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [11]:
ratings.isna().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [12]:
ratings_with_name = ratings.merge(books,on='ISBN')

In [13]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df = num_rating_df.rename(columns={'Book-Rating':'num_ratings'})

In [14]:
avg_rating_df = ratings_with_name.groupby('Book-Title')['Book-Rating'].agg(lambda x: x.astype(float).mean()).reset_index()
avg_rating_df = avg_rating_df.rename(columns = {'Book-Rating' : 'avg_rating'})
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [15]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [16]:
popular_df = popular_df[popular_df['num_ratings'] > 250].sort_values('avg_rating', ascending = False).head(50)

In [20]:
books[books['Book-Title']=="The Hitchhiker's Guide to the Galaxy"]['Image-URL-S']

162       http://images.amazon.com/images/P/0671461494.0...
914       http://images.amazon.com/images/P/0345391802.0...
16655     http://images.amazon.com/images/P/0671746065.0...
22973     http://images.amazon.com/images/P/0671701592.0...
24856     http://images.amazon.com/images/P/0517542099.0...
67051     http://images.amazon.com/images/P/0671664964.0...
103797    http://images.amazon.com/images/P/0345418913.0...
178069    http://images.amazon.com/images/P/1590072561.0...
214105    http://images.amazon.com/images/P/0613064054.0...
Name: Image-URL-S, dtype: object

In [36]:
popular_df = popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]

In [21]:
print(popular_df)

                                               Book-Title  num_ratings  \
80434   Harry Potter and the Prisoner of Azkaban (Book 3)          428
80422        Harry Potter and the Goblet of Fire (Book 4)          387
80441      Harry Potter and the Sorcerer's Stone (Book 1)          278
80426   Harry Potter and the Order of the Phoenix (Boo...          347
80414    Harry Potter and the Chamber of Secrets (Book 2)          556
191612  The Hobbit : The Enchanting Prelude to The Lor...          281
187377  The Fellowship of the Ring (The Lord of the Ri...          368
80445   Harry Potter and the Sorcerer's Stone (Harry P...          575
211384     The Two Towers (The Lord of the Rings, Part 2)          260
219741                              To Kill a Mockingbird          510
183573                                  The Da Vinci Code          898
187880                 The Five People You Meet in Heaven          430
180556                             The Catcher in the Rye          449
196326                          The Lovely Bones: A Novel         1295
764                                                  1984          284
144165                           Prodigal Summer: A Novel          253
128670                                         Neverwhere          265
206502                            The Secret Life of Bees          774
168719  Stupid White Men ...and Other Sorry Excuses fo...          283
223135  Tuesdays with Morrie: An Old Man, a Young Man,...          493
204387                The Red Tent (Bestselling Backlist)          723
191589               The Hitchhiker's Guide to the Galaxy          268
129379   Nickel and Dimed: On (Not) Getting By in America          335
93381                                       Into the Wild          252
63867                                      Fahrenheit 451          409
74750                           Girl with a Pearl Earring          526
136145                                          Outlander          283
233370  Where the Heart Is (Oprah's Book Club (Paperba...          585
156102                     Seabiscuit: An American Legend          275
107962                                         Life of Pi          664
176845                                     The Bean Trees          389
2281    A Child Called \It\": One Child's Courage to S...          265
8434                                       ANGELA'S ASHES          279
76343                                         Good in Bed          490
64931   Fast Food Nation: The Dark Side of the All-Ame...          321
12700                                       American Gods          302
161645                                 Skipping Christmas          322
105777  Left Behind: A Novel of the Earth's Last Days ...          318
189551    The Golden Compass (His Dark Materials, Book 1)          336
181679                                   The Color Purple          314
160336                               Silence of the Lambs          256
8752                                          About a Boy          262
158138                  Seven Up (A Stephanie Plum Novel)          278
175097  The Alchemist: A Fable About Following Your Dream          266
80069   Hard Eight : A Stephanie Plum Novel (A Stephan...          269
170101                       Suzanne's Diary for Nicholas          457
111073                                  Lord of the Flies          259
5664                              A Prayer for Owen Meany          413
212070   The Vampire Lestat (Vampire Chronicles, Book II)          301
233851       White Oleander : A Novel (Oprah's Book Club)          356

        avg_rating
80434     5.852804
80422     5.824289
80441     5.737410
80426     5.501441
80414     5.183453
191612    5.007117
187377    4.948370
80445     4.895652
211384    4.880769
219741    4.700000
183573    4.642539
187880    4.551163
180556    4.545657
196326    4.468726
764       4.454225
144165    4.450593
128670    4.449057
206502    4.447028
168719    4.356890
223135    4.354970
204387    4.334716
191589    4.328358
129379    4.289552
93381     4.273810
63867     4.264059
74750     4.218631
136145    4.173145
233370    4.105983
156102    4.098182
107962    4.088855
176845    4.087404
2281      4.086792
8434      4.075269
76343     4.055102
64931     4.037383
12700     4.006623
161645    4.006211
105777    4.003145
189551    4.000000
181679    3.964968
160336    3.960938
8752      3.900763
158138    3.888489
175097    3.875940
80069     3.825279
170101    3.820569
111073    3.818533
5664      3.796610
212070    3.777409
233851    3.772472